@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMonoNerdFontMono-Regular;
    font-size: 13px;
}


window#waybar {
    background-color: @background;
    border-bottom: 3px solid @outline;
    color: @primary;
    transition-property: background-color;
    transition-duration: 1.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
    border-bottom: 3px solid @outline;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px @secondary_container;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @secondary;
}

/* you can set a style on hover for any module like this */
#wireplumber:hover {
    background-color: #a37800;
}

#workspaces {
    margin-left: -5px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @secondary;
}

#workspaces button:hover {
    background: @background;
}

#workspaces button.empty {
	color: transparent;
}

#workspaces button.focused {
    background-color: @primary_container;
    box-shadow: inset 0 -3px @primary;
    color: @secondary;
}

#workspaces button.urgent {
    background-color: @error_container;
}

#mode {
    background-color: @inverse_primary;
    box-shadow: inset 0 -3px @on_background;
}

/*If workspaces is the leftmost module, omit left margin*/
.modules-left > widget:first-child > #workspaces{
    margin-left: 0;
}

/*If workspaces is the rightmost module, omit right margin
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

#language {
    padding: 0 5px;
}

#clock {
    background-color: @tertiary_container;
    padding: 0 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber {
    background-color: @secondary_container;
}

#wireplumber.muted {
    background-color: @error;
}

#tray {
    background-color: @primary_container;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @error_container;
}

#idle_inhibitor {
    background-color: @surface;
}

#idle_inhibitor.activated {
    background-color: @primary_container;
    color: @on_surface;
}
