@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMonoNerdFontMono-Regular;
    font-size: 13px;
}


window#waybar {
    background-color: transparent;
    color: @primary;
}

#window {
    color: @on_background;
}

#window label {
    background-color: @background;
    border-right: 2px solid @outline;
    border-left: 2px solid @outline;
    padding: 0 10px;
}

button {
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px @secondary;*/
}

#workspaces {
    background-color: transparent;
}

#workspaces button label {
    font-size: 12px;
}

#workspaces button {
    padding: 0 0px;
    background-color: transparent;
    color: @secondary;
    border: 2px solid @outline;
}

/*#workspaces button.focused:first-child {

#workspaces button.focused:nth-child(2) {
*/

#workspaces button:last-child {
}

#workspaces button:hover {
    background: @primary_container;
}

#workspaces button.empty {
    margin-right: -45;
    opacity: 0;
}

#workspaces button.focused.empty {
    margin-right: 0;
    opacity: 100;
}

#workspaces button.focused {
    border: 2px solid @primary;
    background-color: @primary_container;
    color: @secondary;
}

#workspaces button.urgent {
    background-color: @error_container;
}

/*If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces{
    margin-left: 0;
} */

/*If workspaces is the rightmost module, omit right margin
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

#language {
    background-color: @primary_container;
    padding: 0 5px;
    border: 2px solid @primary;
}

#clock {
    background-color: @tertiary_container;
    padding: 0 5px;
    padding-right: 7px;
    border: 2px solid @primary;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber {
    padding: 0 4px;
    background-color: @secondary_container;
    border: 2px solid @primary;
}

#wireplumber.muted {
    background-color: @error;
}

/* you can set a style on hover for any module like this */
#wireplumber:hover {
    background-color: #a37800;
}

#tray {
    background-color: @primary_container;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @error_container;
}

#idle_inhibitor {
    background-color: @background;
    padding: 0 5px;
    color: @on_background;
    border: 2px solid @primary;
}

#idle_inhibitor.activated {
    background-color: @secondary_container;
    padding: 0 5px;
    color: @secondary;
    border: 2px solid @secondary;
}

#custom-power {
    background-color: @on_error;
    border: 2px solid @error_container;
    color: @on_surface;
    padding: 0 7px;
    padding-right: 0px;
}
